$white: #e8fdff;
$background-color: #00a087;
$default-height: 80px;
//$test-color: #FF0000;

#nav-bar {
    color: $white;
    height: $default-height;
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
    background-color: $background-color;

    .logo {
        float: left;
        height: $default-height;
        width: 80px;
    }

    .header {
        line-height: $default-height;
        padding: 0px 0px 10px;
        font-size: 200%;
        float: left;
        vertical-align: middle;
    }

    #compose {
        margin-top: 10px;
        height: 60px;
        width: 120px;
        font-size: 20px;
        font-weight: bold;
        color: black;
        background-color: white;
        line-height: 60px;
        text-align: center;
        float: right;
        vertical-align: middle;
        border-radius: 25px;
        border-style: solid;
      }

}